.about {
    height: 100%;
}

main {
    height: auto;
    min-height: calc(100% - 60px);
    padding-bottom: 60px;
}

main .main-wrapper {
    margin: 0 auto;
    padding: 0 20px;
    width: 1020px;

    word-break: keep-all;
}

main .main-wrapper .motto-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
}

main .main-wrapper .motto-wrapper .logo {
    height: 343px;
}

main .main-wrapper .motto-wrapper h1 {
    margin: 0;
    padding: 80px 0;
    text-align: center;
    position: absolute;
}

@media (max-width: 600px) {
    main .main-wrapper .motto-wrapper .logo {
        height: 200px;
    }

    main .main-wrapper .motto-wrapper h1 {
        font-size: 20px;
        padding: 45px 0;
    }
}

@media (max-width: 1024px) {
    main .main-wrapper {
        padding: 0px 20px;
        width: 100%;
    }
}